:root {
  --main-color: #212121;
  --second-color: #757575;
  --background-color: #2f303a;
  --third-color: #ffffff;
  --fourth-color: rgba(255, 255, 255, 0.6);
  --fifth-color: #2196f3;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-weight: 400;
  width: 1600 px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
/* part of homework 3 */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.display-button {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.display-images {
  display: flex;
  gap: 30px;
}

.display-wrap {
  flex-wrap: wrap;
}
/* .image-seize {
  width: calc((100% - 60px) / 3);
} */
.flex-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-style {
  border-bottom: 1px solid #ececec;
  align-items: center;
  /* height: 80px;
  margin-left: 0px; */
}

.display-form-general {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-display-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 453px;
  width: 53px;
  top: 32px;
  margin-left: 453px;
}
.logo-position {
  width: 145px;
  justify-content: center;
  /* margin-left: 215px;
  top: 24px; */
}

.nav-display-form li {
  margin: 0px 46px;
  align-items: center;
  padding: 0;
  width: 53px;
  top: 32px;
  left: 453px;
}

.display-form-contacts {
  display: flex;
  margin-left: 1078px;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  left: 1078px;
  top: 32px;
}

.inner {
  display: flex;
  align-items: center;
}

/* end part of homework 3 */
.nav-structure {
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.nav-structure:hover {
  color: var(--fifth-color);
}
.nav-structure:focus {
  color: var(--fifth-color);
}

.second-structure {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  text-decoration-line: none;
}
.third-structure {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.background {
  background-color: var(--background-color);
}

.fourth-structure {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color);
  text-decoration-line: none;
}
.fifth-structure {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--fourth-color);
}
.sixth-structure {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
}
.seventh-structure {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
}

.eighth-structure {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.ninth-structure {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.list-style {
  list-style: none;
}
.logo {
  font-family: "Raleway";
  color: var(--main-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.brand-color {
  color: var(--fifth-color);
}
.footer-logo {
  color: var(--third-color);
}
.hand:hover {
  cursor: pointer;
}
.button-style {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  cursor: pointer;
}
.button-style:hover,
.button-style:focus,
.button-style:active {
  background-color: var(--fifth-color);
  color: var(--third-color);
}

.button-style2 {
  color: var(--third-color);
  background-color: var(--fifth-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  border: none;
}
.address-style {
  font-style: normal;
}
